<?xml version="1.0" encoding="utf-8"?>
<ic-application>
    <ic-perusahaan>HMP Basapadi</ic-perusahaan>
    <ic-thema>
        <ic-selected>Dark</ic-selected>
        <ic-options>
            <ic-option>Dark</ic-option>
            <ic-option>Light</ic-option>
        </ic-options>
    </ic-thema>
    <ic-data>
        <ic-data_per_halaman>20</ic-data_per_halaman>
    </ic-data>
    <ic-layouts>
        <ic-lebar_menu_kiri>200</ic-lebar_menu_kiri>
    </ic-layouts>
</ic-application>